.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(231, 231, 231);
  min-height: 100vh;
  background-color: #fff;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgb(231, 231, 231);

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #772953;
    }
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }

    li {
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #f1bdd9;
      }

      .icon {
        font-size: 18px;
        margin-right: 5px;
        color: #772953;
      }

      span {
        font-size: 14 px;
        font-weight: 600;
        color: rgb(120, 120, 120);
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #772953;
      cursor: pointer;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
